@media only screen and (max-width: 600px) {
    footer{
        margin: 0 -5vw;
        width: 100vw;
        height: 7.5vh;
        background: #000;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: larger;
        border: none;
    }
}

