.layout{
    width: 100vw;
    max-height: 100vh;
    background: #fff;
    border: none;
}

.layout .navbar{
    max-height: 10vh;
    background: cyan;
    width: 90vw;
    margin: 0vh 5vw;
    
}

.layout .outlet{
    max-height: 82.5vh;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

.layout .footer{
    max-height: 7.5vh;
    width: 90vw;
    margin: 0vh 5vw;
}
